.courses {
  margin-top: 40px;
}
.courses-inner {
  margin: 0 auto;
  width: 80%;
  min-height: 80vh;
  height: 100%;
  background-color: rgb(220, 220, 220);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-box-shadow: 10px 10px 5px -4px rgba(142, 142, 142, 0.48);
          box-shadow: 10px 10px 5px -4px rgba(142, 142, 142, 0.48);
  border: 1px solid #fff;
}
.courses-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(220, 220, 220);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-box-shadow: 10px 10px 5px -4px rgba(142, 142, 142, 0.48);
          box-shadow: 10px 10px 5px -4px rgba(142, 142, 142, 0.48);
  border: 1px solid #fff;
  margin: 30px 60px 80px;
  height: 150px;
}
.courses-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  gap: 70px;
}
.courses-btn-programming {
  padding: 10px 4px;
  background-color: transparent;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
}
.courses-btn-languages {
  padding: 10px 48px;
  background-color: transparent;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
}
.courses-btn-computer-grammer {
  padding: 10px 9px;
  background-color: transparent;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
}
.courses-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  background-color: rgb(220, 220, 220);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-box-shadow: 10px 10px 5px -4px rgb(148, 148, 148);
          box-shadow: 10px 10px 5px -4px rgb(148, 148, 148);
  border: 1px solid #fff;
  margin: 30px;
  min-height: 350px;
  padding-bottom: 50px;
}
.courses-all {
  text-align: center;
  padding-top: 20px;
}
.courses-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 66px;
     -moz-column-gap: 66px;
          column-gap: 66px;
  row-gap: 50px;
}
.courses-card {
  margin: 0 auto;
  width: 250px;
  height: 150px;
  border-radius: 20px;
  background-color: #E2F0D9;
  padding: 30px 20px 120px;
}
.courses-card-2 {
  background-color: #FFF2CC;
}
.courses-text-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}
.courses-link {
  background-color: purple;
  color: #fff;
  padding: 4px 9px;
  border-radius: 5px;
}