.notification {
  margin-top: 30px;
}
.notification__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.notification__content {
  position: relative;
  padding-top: 15px;
  padding-left: 18px;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(255, 253, 253, 0.95);
  height: 170px;
}
.notification__date {
  font-weight: 500;
  font-size: 16px;
  color: #000;
}
.notification__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 21px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 800;
  font-size: 20px;
  color: #000;
}
.notification__notification-images {
  position: absolute;
  bottom: -20px;
  right: -30px;
}
.notification__content--active {
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: -webkit-gradient(linear, left top, right top, from(rgba(253, 249, 254, 0.95)), to(rgba(238, 149, 213, 0.95)));
  background: linear-gradient(90deg, rgba(253, 249, 254, 0.95) 0%, rgba(238, 149, 213, 0.95) 100%);
}