.wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#800080), color-stop(10.1%, #7c347c), color-stop(19.1%, #a457a4), color-stop(33.6%, #cb79cb), color-stop(44.1%, #d48ad4), color-stop(65.6%, #e9c3e9), color-stop(75.1%, #f3dcf3), color-stop(87.6%, #fefafe));
  background-image: linear-gradient(180deg, #800080 0%, #7c347c 10.1%, #a457a4 19.1%, #cb79cb 33.6%, #d48ad4 44.1%, #e9c3e9 65.6%, #f3dcf3 75.1%, #fefafe 87.6%);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
}

.header {
  background-color: #000;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}
@media (max-width: 941px) {
  .menu {
    display: none;
  }
}
.menu__link {
  color: #fff;
  font-size: 20px;
}

.burger {
  position: relative;
  width: 40px;
  height: 18px;
}
.burger span {
  position: absolute;
  width: 30px;
  height: 2px;
  top: calc(50% - 1px);
  left: 5px;
  background: #fff;
}
.burger span:first-child {
  top: 0;
}
.burger span:last-child {
  top: auto;
  bottom: 0;
}

.dark-mode-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 51px;
  height: 26px;
  padding: 5px;
  border-radius: 50px;
  background-color: #272727;
}
.dark-mode-btn::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: left 0.2s ease-in;
  transition: left 0.2s ease-in;
}
.dark-mode-btn__icon {
  position: relative;
  z-index: 9;
}

.dark-mode-btn--active::before {
  left: 26px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s, visibility 0.4s;
  transition: opacity 0.4s, visibility 0.4s;
}
.modal.open {
  visibility: visible;
  opacity: 1;
}
.modal__box {
  position: relative;
  width: 450px;
  padding: 45px;
  z-index: 1;
  margin: 30px 15px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  border-radius: 20px;
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}

.modal__close-btn svg path {
  -webkit-transition: fill 0.4s;
  transition: fill 0.4s;
}

.modal__close-btn:hover svg path {
  fill: blue;
}

.modal.open .modal__box {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modal-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.modal-menu__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  border-bottom: 1px solid black;
}

.modal__icon ion-icon {
  font-size: 30px;
}

.modal__list a {
  font-size: 25px;
}

.background {
  margin-top: 70px;
  width: 100%;
  height: 100vh;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fffdfd;
  padding: 33px 0;
  overflow: auto;
}
.background::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 36px;
  margin: 0 33px;
}

.timetable-wrap {
  overflow: auto;
  border-radius: 5px;
  width: 45%;
  height: 100vh;
  -webkit-box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(250, 235, 252, 0.69);
}
.timetable-wrap::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.timetable {
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  overflow-y: auto;
}
.timetable::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.timetable-flex {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  border-radius: 5px;
}
.timetable-date {
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(216, 171, 243, 0.27);
}
.timetable-date__title {
  font-family: "Inter", sans-serif;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: start;
  padding-left: 14px;
  -webkit-box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #edf2cf;
  font-size: 20px;
  font-weight: 500;
  font-size: 15px;
  color: #000;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.raspisanie {
  width: 100%;
  border-collapse: collapse;
}
.raspisanie th {
  background: #f6ebff;
}
.raspisanie td {
  background: #fffcfc;
}
.raspisanie th,
.raspisanie td {
  border: 1px solid #c3bcbc;
  border-radius: 2px;
  text-align: center;
  padding: 12px 7px;
}

.semestrs-time-parent {
  margin-top: 28px;
  margin-left: 21px;
  margin-bottom: 37px;
}

.semestrs-time {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #f2ed77;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fffbfb;
}

.semestrs {
  border-radius: 5px;
  padding-top: 59px;
  padding-left: 36px;
  padding-right: 39px;
  width: 55%;
  height: 100vh;
  overflow: auto;
  -webkit-box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(250, 235, 252, 0.69);
}
.semestrs::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.semestrs__wrap {
  gap: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.semestrs__card {
  width: 131px;
  height: 157px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2.6%, #fdfcff), color-stop(24.1%, #e8d2f9), color-stop(50.1%, #cca5f3), color-stop(74.1%, #ad85ef), color-stop(87.6%, #ac5eea), to(#9315e0));
  background: linear-gradient(180deg, #fdfcff 2.6%, #e8d2f9 24.1%, #cca5f3 50.1%, #ad85ef 74.1%, #ac5eea 87.6%, #9315e0 100%);
}
.semestrs__year {
  margin-top: 4px;
  margin-bottom: 35px;
}
.semestrs__link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
.semestrs__link {
  padding: 2px 5px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #b538c9;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fffdfd;
}
.semestrs__grade-wrap {
  margin-right: 5px;
  margin-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.semestrs__grade {
  padding: 1px 3px;
  -webkit-box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fcffff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #5a555b;
}