.tasks {
  margin-top: 40px;
}
.tasks-inner {
  margin: 0 auto;
  width: 80%;
  min-height: 80vh;
  height: 100%;
}
.tasks-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(255, 253, 253, 0.95);
  border: 1px solid #fff;
  margin: 0 30px 26px;
  height: 80px;
}
.tasks-btn {
  margin: 0 auto;
  padding: 15px 17px;
  border-radius: 20px;
  border: 1px solid #DAA520;
  background-color: #D7D13E;
  color: #000000;
  font-weight: bold;
}
.tasks-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(255, 253, 253, 0.95);
  border: 1px solid #fff;
  margin: 0 30px;
  min-height: 350px;
  padding-bottom: 50px;
}
.tasks-table {
  width: 90%;
  margin: 20px auto 0;
  border-collapse: collapse;
}
.tasks-table th {
  font-weight: bold;
  color: #000000;
}
.tasks-table th, .tasks-table td {
  text-align: center;
  padding: 20px;
  border: 1px solid #000;
}
.tasks-responsive {
  overflow-x: auto;
}