.csE166CDC7 {
    color: #000000;
    background-color: #DCDCDC;
    border-left: #000000 1px solid;
    border-top: #000000 1px solid;
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    font-family: 'Times New Roman';
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    padding-left: 2px;
    padding-right: 2px;
}

.cs303C4818 {
    color: #000000;
    background-color: #DCDCDC;
    border-left: #000000 1px solid;
    border-top: #000000 1px solid;
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    font-family: 'Times New Roman';
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    padding-left: 2px;
    padding-right: 2px;
}

.csD97456A7 {
    color: #000000;
    background-color: #DCDCDC;
    border-left-style: none;
    border-top: #000000 1px solid;
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    font-family: 'Times New Roman';
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    padding-left: 2px;
    padding-right: 2px;
}

.cs7B3373F3 {
    color: #000000;
    background-color: #F0F0F0;
    border-left: #000000 1px solid;
    border-top-style: none;
    border-right: #000000 1px solid;
    border-bottom-style: none;
    font-family: 'Times New Roman';
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    padding-left: 2px;
    padding-right: 2px;
}

.csB60C5769 {
    color: #000000;
    background-color: #F0F0F0;
    border-left-style: none;
    border-top-style: none;
    border-right: #000000 1px solid;
    border-bottom-style: none;
    font-family: 'Times New Roman';
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    padding-left: 2px;
    padding-right: 2px;
}

.cs35E2F7F5 {
    color: #000000;
    background-color: transparent;
    border-left: #000000 1px solid;
    border-top: #000000 1px solid;
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    font-family: 'Times New Roman';
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    padding-left: 2px;
}

.cs4E07AF48 {
    color: #000000;
    background-color: transparent;
    border-left: #000000 1px solid;
    border-top: #000000 1px solid;
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    font-family: 'Times New Roman';
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    padding-left: 2px;
    padding-right: 2px;
}

.cs55B164AB {
    color: #000000;
    background-color: transparent;
    border-left: #000000 1px solid;
    border-top: #000000 1px solid;
    border-right: #000000 1px solid;
    border-bottom-style: none;
    font-family: 'Times New Roman';
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    padding-left: 2px;
    padding-right: 2px;
}

.csBB173C53 {
    color: #000000;
    background-color: transparent;
    border-left: #000000 1px solid;
    border-top: #000000 1px solid;
    border-right: #000000 1px solid;
    border-bottom-style: none;
    font-family: 'Times New Roman';
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    padding-left: 2px;
}

.csB05426A6 {
    color: #000000;
    background-color: transparent;
    border-left: #A9A9A9 1px solid;
    border-top: #A9A9A9 1px solid;
    border-right: #A9A9A9 1px solid;
    border-bottom: #A9A9A9 1px solid;
    font-family: 'Times New Roman';
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
}

.cs3D5CF2AB {
    color: #000000;
    background-color: transparent;
    border-left-style: none;
    border-top: #000000 1px solid;
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    font-family: 'Times New Roman';
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    padding-left: 2px;
}

.cs6C017CD8 {
    color: #000000;
    background-color: transparent;
    border-left-style: none;
    border-top: #000000 1px solid;
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    font-family: 'Times New Roman';
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    padding-left: 2px;
    padding-right: 2px;
}

.csDBFA066E {
    color: #000000;
    background-color: transparent;
    border-left-style: none;
    border-top: #000000 1px solid;
    border-right: #000000 1px solid;
    border-bottom-style: none;
    font-family: 'Times New Roman';
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    padding-left: 2px;
}

.cs928C0FE4 {
    color: #000000;
    background-color: transparent;
    border-left-style: none;
    border-top: #000000 1px solid;
    border-right: #000000 1px solid;
    border-bottom-style: none;
    font-family: 'Times New Roman';
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    padding-left: 2px;
    padding-right: 2px;
}

.csAAE75E71 {
    color: #000000;
    background-color: transparent;
    border-left-style: none;
    border-top: #000000 1px solid;
    border-right: #000000 1px solid;
    border-bottom-style: none;
    font-family: 'Times New Roman';
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    padding-left: 2px;
}

.csEF13F180 {
    color: #000000;
    background-color: transparent;
    border-left-style: none;
    border-top: #000000 1px solid;
    border-right-style: none;
    border-bottom-style: none;
    font-family: 'Times New Roman';
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    padding-left: 2px;
}

.cs9E84679C {
    color: #000000;
    background-color: transparent;
    border-left-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom: #808080 1px dotted;
    font-family: 'Times New Roman';
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    padding-left: 2px;
}

.csB793156B {
    color: #000000;
    background-color: transparent;
    border-left-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom: #808080 1px dotted;
    font-family: 'Times New Roman';
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    padding-left: 2px;
}

.cs39DFF435 {
    color: #000000;
    background-color: transparent;
    border-left-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    font-family: 'Times New Roman';
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    padding-left: 2px;
}

.cs7F9D3F03 {
    color: #000000;
    background-color: transparent;
    border-left-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    font-family: 'Times New Roman';
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    padding-left: 2px;
}

.cs9526C98C {
    color: #000000;
    background-color: transparent;
    border-left-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    font-family: 'Times New Roman';
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    padding-left: 2px;
}

.cs33734797 {
    color: #000000;
    background-color: transparent;
    border-left-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    font-family: 'Times New Roman';
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    padding-left: 2px;
    padding-right: 2px;
}

.csAAF49C33 {
    color: #000000;
    background-color: transparent;
    border-left-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    font-family: 'Times New Roman';
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    padding-left: 2px;
}

.csAE00FF98 {
    color: #000000;
    background-color: transparent;
    border-left-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    font-family: 'Times New Roman';
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    padding-left: 2px;
    padding-right: 2px;
}

.csE9FFF7FF {
    color: #800000;
    background-color: transparent;
    border-left: #000000 1px solid;
    border-top: #000000 1px solid;
    border-right: #000000 1px solid;
    border-bottom-style: none;
    font-family: 'Times New Roman';
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    padding-left: 2px;
}

.cs856581D9 {
    color: #800000;
    background-color: transparent;
    border-left-style: none;
    border-top: #000000 1px solid;
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    font-family: 'Times New Roman';
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    padding-left: 2px;
}

.csC20CE058 {
    color: #C0C0C0;
    background-color: transparent;
    border-left-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    font-family: 'Times New Roman';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    padding-left: 2px;
    padding-right: 2px;
}

.csC345D0A0 {
    color: #C0C0C0;
    background-color: transparent;
    border-left-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    font-family: 'Times New Roman';
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    padding-left: 2px;
}

.csFF3F06D0 {
    color: #C0C0C0;
    background-color: transparent;
    border-left-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    font-family: 'Times New Roman';
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    padding-left: 2px;
    padding-right: 2px;
}

.cs307389FE {
    height: 0px;
    width: 0px;
    overflow: hidden;
    font-size: 0px;
    line-height: 0px;
}

.student-info {
    margin-top: 40px;

    &-inner {
        margin: 0 auto;
        width: 90%;
        height: 82vh;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(20px);
        background: rgba(255, 253, 253, 0.95);
        border: 1px solid #fff;


    }

    &-select {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(20px);
        background: rgba(255, 253, 253, 0.95);
        border: 1px solid #fff;
        margin: 20px 30px 26px;
        height: 80px;
        gap: 50px;

        button {
            border-radius: 20px;
            border: 1px solid #DAA520;
            background-color: #D7D13E;
            padding: 15px 17px;
            color: #000000;
            font-weight: bold;
            cursor: pointer;
        }

    }

    &-btn {
        padding: 15px 17px;
        border-radius: 20px;
        border: 1px solid #DAA520;
        background-color: #D7D13E;
        color: #000000;
        font-weight: bold;
    }

    &-window {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(20px);
        background: rgba(255, 253, 253, 0.95);
        border: 1px solid #fff;
        margin: 0 30px;
        padding-top: 25px;
        padding-bottom: 50px;
        overflow: auto;
        height: 450px;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    &-table {
        padding-left: 20px;
        padding-right: 20px;
        width: 95%;
        background-color: #fff;
        margin: 0 auto;
    }
}