.testing {
    margin-top: 20px;
    // .testing__who-block

    &__who-block {
        padding: 8px 30px;
        display: flex;
        align-items: center;
        gap: 2px;
        border-radius: 3px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: rgba(255, 253, 253, 0.95);
        font-weight: 800;
        font-size: 17px;
        color: #000;
        margin-bottom: 20px;
    }

    // .testing__who-modul

    &__who-modul {}

    // .testing__who-group

    &__who-group {}

    // .testing__who-name

    &__who-name {}

    // .testing__select

    &__select {
        margin: 0 auto 20px;
        width: 740px;
        border-radius: 5px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: rgba(255, 255, 253, 0.95);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        padding: 1px 0;
        height: 40px;
    }

    // .testing__link-result

    &__link-result {
        cursor: pointer;
        height: 38px;
        box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: rgba(255, 212, 253, 0.95);
        border-radius: 5px;
        padding: 6px 30px;
        width: 225px;
        font-weight: 800;
        font-size: 17px;
        color: #000;

        &.active {
            box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            background: rgba(167, 2, 160, 0.95);
        }
    }

    // .testing__link-assigned

    &__link-assigned {
        cursor: pointer;
        font-weight: 800;
        font-size: 17px;
        color: #000;
        width: 225px;
        box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: rgba(255, 212, 253, 0.95);
        height: 38px;
        padding: 6px 30px;
        border-radius: 5px;

        &.active {
            box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            background: rgba(167, 2, 160, 0.95);
        }
    }

    // .testing__cards-naz

    &__cards-naz,
    &__cards-result {
        display: none;

        &.active {
            display: block;
        }
    }

    // .testing__cards

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }

    // .testing__card

    &__card {
        width: 385px;
        height: 188px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: rgba(255, 255, 255, 0.95);
        border-radius: 10px;
        padding: 25px 25px 20px;
        position: relative;
    }

    // .testing__test-disciple

    &__test-disciple {
        font-weight: 800;
        font-size: 24px;
        color: #000;
        margin-bottom: 15px;
    }

    // .testing__test-modul

    &__test-modul {
        font-weight: 600;
        font-size: 18px;
        color: #000;
        margin-bottom: 20px;
    }

    // .testing__test-time

    &__test-time {
        font-weight: 500;
        font-size: 16px;
        color: #000;
        margin-bottom: 17px;
    }

    // .testing__test-date

    &__test-date {
        font-weight: 500;
        font-size: 16px;
        color: #000;
    }

    // .testing__all-count

    &__all-count {
        position: absolute;
        bottom: 0;
        right: 20px;
        bottom: 40px;
    }

    &__test-mb {
        margin-bottom: 60px;
    }

    &__flex-info {
        display: flex;
        align-items: center;
        gap: 15px;
        position: absolute;
        bottom: 20px;
        right: 20px;
    }

    &__all-try {
        font-weight: 500;
        font-size: 16px;
        color: #000;
    }

    &__ball {
        font-weight: 800;
        font-size: 24px;
        color: #fd0707;
        box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: rgba(255, 212, 253, 0.95);
        border-radius: 3px;
    }
}




.modal-start {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    // padding-top: 60px;

    &__content {
        margin: 0 auto;
        width: 400px;
        height: 103px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
        padding: 20px;
        text-align: center;
        border: 1px solid #000;
    }

    // .modal-start__title

    &__title {
        margin-bottom: 7px;
        font-weight: 700;
        font-size: 17px;
        color: #000;
    }

    // .modal-start__flex

    &__flex {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 70px;
    }

    // .modal-start__btn-start

    &__btn-start {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
        width: 124px;
        height: 40px;
        box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #d6fcb8;
        font-weight: 700;
        font-size: 17px;
        color: #000;
    }

    // .modal-start__btn-no

    &__btn-no {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
        width: 124px;
        height: 40px;
        box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #f9bcbc;
        font-weight: 700;
        font-size: 17px;
        color: #000;
    }
}